@(form: Form[model.User])
@import play.i18n.Messages

@main(false, Messages.get("auth.title"), "login-page") {

	<a class="accessibility" href="#login">@Messages.get("auth.body.jumpLogin")</a>
	<a class="accessibility" title='@Messages.get("auth.clickHere")'
		href="@routes.Application.showRegistration" accesskey="r">@Messages.get("auth.toTheRegistration")</a>

	<!-- Content -->

	<div role="main">

		<section id="login" aria-labelledby="loginheading">
			<h2 id="loginheading" class="accessibility">@Messages.get("auth.login")</h2>

			@helper.form(action = routes.Application.authenticate()) {

				<fieldset>
					<legend id="logindata">@Messages.get("auth.loginArea")</legend>
					
					@helper.inputText(form("name"), '_label ->
						Messages.get("auth.name"), '_showConstraints -> false)
					@helper.inputPassword(form("password"), '_label ->
						Messages.get("auth.password"), '_showConstraints -> false)
					<input
						name="login" id="loginsubmit" class="greenlink formlink clickable"
						type="submit" value='@Messages.get("auth.submit")' />

				</fieldset>
			}
			
			<h2 id="langheading" class="accessibility">@Messages.get("auth.language")</h2>
			<a href="language?lang=de"><img src='@routes.Assets.at("images/de.png")' alt='@Messages.get("auth.switchToGerman")' /></a>&nbsp; &nbsp; &nbsp;
			<a href="language?lang=en"><img src='@routes.Assets.at("images/gb.png")' alt='@Messages.get("auth.switchToEnglish")' /></a>
		</section>

		<!-- Register section -->
		<section id="registerforward" aria-labelledby="registerheading">
			<h2 id="registerheading" class="accessibility">@Messages.get("auth.register")</h2>
			<p id="registerhint">@Messages.get("auth.notRegistered")?</p>
			<a class="contentlink orangelink"
				title='@Messages.get("auth.clickHere")'
				href="@routes.Application.showRegistration" accesskey="r">
				@Messages.get("auth.toTheRegistration")</a>
		</section>
	</div>
}