@(game: JeopardyGame)
@import at.ac.tuwien.big.we15.lab2.api.JeopardyGame
@import play.i18n.Messages

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@Messages.get("jeopardy.title")</title>
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/base.css")' />
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/screen.css")' />

</head>
<body id="selection-page">
	<a class="accessibility" href="#question-selection">@Messages.get("jeopardy.jumpToQuestionSelect")</a>
	<!-- Header -->
	<header role="banner" aria-labelledby="bannerheading">
		<h1 id="bannerheading">
			<span class="accessibility">Business Informatics Group </span><span
				class="gametitle">Jeopardy!</span>
		</h1>
	</header>

	<!-- Navigation -->
	<nav role="navigation" aria-labelledby="navheading">
		<h2 id="navheading" class="accessibility">Navigation</h2>
		<ul>
			<li><a class="orangelink navigationlink" id="logoutlink" title='@Messages.get("general.clickLogout")' 
				href="@routes.Application.authenticate" accesskey="l">@Messages.get("general.logout")</a></li>
		</ul>
	</nav>

	<!-- Content -->
	<div role="main">
		<!-- info -->
		<section id="gameinfo" aria-labelledby="gameinfoinfoheading">
			<h2 id="gameinfoinfoheading" class="accessibility">@Messages.get("question.playerInfo")</h2>
			<section id="firstplayer" class="playerinfo leader"
				aria-labelledby="firstplayerheading">
				<h3 id="firstplayerheading" class="accessibility">@Messages.get("question.leadingPlayer")</h3>
				<img class="avatar" src="img/avatar/black-widow_head.png"
					alt="Spieler-Avatar Black Widow" />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername">Black Widow (Du)</td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints">2000 €</td>
					</tr>
				</table>
			</section>
			<section id="secondplayer" class="playerinfo"
				aria-labelledby="secondplayerheading">
				<h3 id="secondplayerheading" class="accessibility">@Messages.get("question.secondPlayer")</h3>
				<!--FIXME alt tag in messages -->
				<img class="avatar" src="img/avatar/deadpool_head.png"
					alt="Spieler-Avatar Deadpool" />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername">Deadpool</td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints">400 €</td>
					</tr>
				</table>
			</section>
			<p id="round">Fragen: 2 / 10</p>
		</section>

		<!-- Question -->


		<section id="question-selection" aria-labelledby="questionheading">
			<h2 id="questionheading" class="black accessibility">Jeopardy</h2>
			<p class="user-info positive-change">Du hast richtig geantwortet: +1000 €</p>
			<p class="user-info negative-change">Deadpool hat falsch geantwortet: -500 €</p>
			<p class="user-info">Deadpool hat TUWIEN für € 1000 gewählt.</p>
			@helper.form(action = routes.Application.showQuestion()) {
				<fieldset>
					<legend class="accessibility">@Messages.get("jeopardy.questionSelect")</legend>

					@for(category <- game.getCategories) {
						<section class="questioncategory" aria-labelledby="@category.getName()heading">
							<h3 id="@category.getName()" class="tile category-title">
								<span class="accessibility">@Messages.get("jeopardy.category")</span> @category.getName()
							</h3>
							<ol class="category_questions">
							@for(question <- category.getQuestions) {
								<li><input @{
									if(game.hasBeenChosen(question)) "disabled=\"disabled\""
								} name="question_selection" id="question_@question.getId" value="@question.getId" type="radio" /> <label class="tile clickable" for="question_@question.getId">€ @{
									question.getValue()
								}</label>
								</li>
							}
							</ol>
						</section>
					}
				</fieldset>
				<input class="greenlink formlink clickable" name="question_submit"
				id="next" type="submit"
				value='@Messages.get("jeopardy.questionSubmit")' accesskey="s" />
			}
		</section>

		<section id="lastgame" aria-labelledby="lastgameheading">
			<h2 id="lastgameheading" class="accessibility">@Messages.get("jeopardy.lastGameInfo")</h2>
			<!-- FIXME Nie Feld-->
			<p>@Messages.get("jeopardy.lastGame") Nie</p>
		</section>
	</div>

	<!-- footer -->
	<footer role="contentinfo">© 2015 BIG Jeopardy!</footer>

	<script type="text/javascript">
		//<![CDATA[

		// initialize time
		$(document).ready(
				function() {
					// set last game
					if (supportsLocalStorage()) {
						var lastGameMillis = parseInt(localStorage['lastGame'])
						if (!isNaN(parseInt(localStorage['lastGame']))) {
							var lastGame = new Date(lastGameMillis);
							$("#lastgame p").replaceWith(
									'<p>Letztes Spiel: <time datetime="'
											+ lastGame.toUTCString() + '">'
											+ lastGame.toLocaleString()
											+ '</time></p>')
						}
					}
				});
		//]]>
	</script>
</body>
</html>
