@(game: JeopardyGame)
@import at.ac.tuwien.big.we15.lab2.api.JeopardyGame
@import play.i18n.Messages

@main(true, Messages.get("jeopardy.title"), "selection-page") {

	<a class="accessibility" href="#question-selection">@Messages.get("jeopardy.jumpToQuestionSelect")</a>

	<!-- Content -->
	<div role="main">
		<!-- info -->
		<section id="gameinfo" aria-labelledby="gameinfoinfoheading">
			<h2 id="gameinfoinfoheading" class="accessibility">@Messages.get("question.playerInfo")</h2>
			<section id="firstplayer" class="playerinfo leader"
				aria-labelledby="firstplayerheading">
				<h3 id="firstplayerheading" class="accessibility">@Messages.get("question.leadingPlayer")</h3>
				<img class="avatar" src=@routes.Assets.at("images/avatar/"+game.getLeader.getUser.getAvatar.getImageHead)
					alt=@game.getLeader.getUser.getName />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername"> @game.getLeader.getUser.getName </td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints"> @game.getLeader.getProfit €</td>
					</tr>
				</table>
			</section>
			<section id="secondplayer" class="playerinfo"
				aria-labelledby="secondplayerheading">
				<h3 id="secondplayerheading" class="accessibility">@Messages.get("question.secondPlayer")</h3>
				<img class="avatar" src=@routes.Assets.at("images/avatar/"+game.getSecond.getUser.getAvatar.getImageHead)
					alt=@game.getSecond.getUser.getName />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername">@game.getSecond.getUser.getName</td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints"> @game.getSecond.getProfit €</td>
					</tr>
				</table>
			</section>
			<p id="round">@Messages.get("jeopardy.questions")
				@{game.getHumanPlayer.getAnsweredQuestions.size() + game.getMarvinPlayer.getAnsweredQuestions.size()} / 10</p>
		</section>

		<!-- Question -->
		<section id="question-selection" aria-labelledby="questionheading">
			<h2 id="questionheading" class="black accessibility">Jeopardy</h2>

			@if(game.getHumanPlayer.getLatestProfitChange != null) {
				@if(game.getHumanPlayer.getLatestProfitChange != null && game.getHumanPlayer.getLatestProfitChange < 0) {
					<p class="user-info negative-change">@Messages.get("jeopardy.playerFalse")
						@game.getHumanPlayer.getLatestProfitChange €</p>
				} else {
					<p class="user-info positive-change">@Messages.get("jeopardy.playerCorrect")
						@game.getHumanPlayer.getLatestProfitChange €</p>
				}
			}

			@if(game.getMarvinPlayer.getLatestProfitChange != null) {
				@if(game.getMarvinPlayer.getLatestProfitChange != null && game.getMarvinPlayer.getLatestProfitChange < 0) {
					<p class="user-info negative-change"> @game.getMarvinPlayer.getUser.getName
						@Messages.get("jeopardy.computerFalse") @game.getMarvinPlayer.getLatestProfitChange €</p>
				} else {
					<p class="user-info positive-change"> @game.getMarvinPlayer.getUser.getName
						@Messages.get("jeopardy.computerCorrect") @game.getMarvinPlayer.getLatestProfitChange €</p>
				}
			}

			@if(game.getMarvinPlayer.getChosenQuestion != null) {
				<p class="user-info">@game.getMarvinPlayer.getUser.getName @Messages.get("jeopardy.computerChoose1")
					@game.getMarvinPlayer.getChosenQuestion.getCategory.getName @Messages.get("jeopardy.computerChoose2")
					@game.getMarvinPlayer.getChosenQuestion.getValue @Messages.get("jeopardy.computerChoose3")</p>
			}
			
			@helper.form(action = routes.Application.showQuestion()) {
				<fieldset>
					<legend class="accessibility">@Messages.get("jeopardy.questionSelect")</legend>

					@for(category <- game.getCategories) {
						<section class="questioncategory" aria-labelledby="@category.getName()heading">
							<h3 id="@category.getName()" class="tile category-title">
								<span class="accessibility">@Messages.get("jeopardy.category")</span> @category.getName()
							</h3>
							<ol class="category_questions">
							@for(question <- category.getQuestions) {
								<li><input @{
									if(game.hasBeenChosen(question)) "disabled=\"disabled\""
								} name="question_selection" id="question_@question.getId" value="@question.getId" type="radio" /> <label class="tile clickable" for="question_@question.getId">€ @{
									question.getValue()
								}</label>
								</li>
							}
							</ol>
						</section>
					}
				</fieldset>
				
				<input class="greenlink formlink clickable" name="question_submit"
				id="next" type="submit"
				value='@Messages.get("jeopardy.questionSubmit")' accesskey="s" />
			}
		</section>

		<section id="lastgame" aria-labelledby="lastgameheading">
			<h2 id="lastgameheading" class="accessibility">@Messages.get("jeopardy.lastGameInfo")</h2>
			<!-- FIXME Nie Feld-->
			<p>@Messages.get("jeopardy.lastGame") Nie</p>
		</section>
	</div>

	<script type="text/javascript">
		//<![CDATA[

		// initialize time
		$(document).ready(
			function() {
				// set last game
				if (supportsLocalStorage()) {
					var lastGameMillis = parseInt(localStorage['lastGame'])
					if (!isNaN(parseInt(localStorage['lastGame']))) {
						var lastGame = new Date(lastGameMillis);
						$("#lastgame p").replaceWith(
								'<p>Letztes Spiel: <time datetime="'
										+ lastGame.toUTCString() + '">'
										+ lastGame.toLocaleString()
										+ '</time></p>')
					}
				}
			});
		//]]>
	</script>

}
