@(login: Boolean, title: String, bodyId: String)(content: Html)
@import play.i18n.Messages

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@Messages.get("general.big") - @Messages.get("general.jeopardy") @title</title>
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/base.css")' />
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/screen.css")' />
	<script src='@routes.Assets.at("javascripts/jquery.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/framework.js")' type="text/javascript"></script>
</head>
<body id=@bodyId>
	<a class="accessibility" href="#question-selection">@Messages.get("jeopardy.jumpToQuestionSelect")</a>
	
	<!-- Header -->
	<header role="banner" aria-labelledby="bannerheading">
		<h1 id="bannerheading">
			<span class="accessibility">@Messages.get("general.big")</span><span
				class="gametitle">@Messages.get("general.jeopardy")</span>
		</h1>
	</header>

	@if(!bodyId.equals("login-page")) {
		<!-- Navigation -->
		<nav role="navigation" aria-labelledby="navheading">
			<h2 id="navheading" class="accessibility">Navigation</h2>
			<ul>
				@if(login == true) {
				<li><a class="orangelink navigationlink" id="logoutlink" title='@Messages.get("general.clickLogout")' 
					href="@routes.Application.authenticate" accesskey="l">@Messages.get("general.logout")</a></li>
				} else {
				<li><a class="orangelink navigationlink" id="loginlink" title='@Messages.get("reg.navigation.auth.Title")'
					href="@routes.Application.authenticate" accesskey="l">@Messages.get("reg.navigation.auth.Text")</a></li>
				}
			</ul>
		</nav>
	}
    
    @content
        
    <!-- Footer -->
	<footer role="contentinfo">@Messages.get("general.footer")</footer>
</body>
</html>
