@(form: Form[model.User])
@import play.i18n.Messages

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@Messages.get("reg.title")</title>
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/base.css")' />
	<link rel="stylesheet" type="text/css"
		href='@routes.Assets.at("stylesheets/screen.css")' />
</head>
<body id="register-page">
	<a title='@Messages.get("reg.jumpToAuth")' class="accessibility"
		href="#register">@Messages.get("reg.jumpToAuth")</a>

	<!-- Header -->
	<header role="banner" aria-labelledby="bannerheading">
		<h1 id="bannerheading">
			<span class="accessibility">Business Informatics Group </span><span
				class="gametitle">Jeopardy!</span>
		</h1>
	</header>

	<!-- Navigation -->
	<nav role="navigation" aria-labelledby="navheading">
		<h2 id="navheading" class="accessibility">Navigation</h2>
		<ul>
			<li><a class="orangelink navigationlink" id="loginlink"
				title='@Messages.get("reg.navigation.auth.Title")'
				href="@routes.Application.authenticate" accesskey="l">
				@Messages.get("reg.navigation.auth.Text")
			</a></li>
		</ul>
	</nav>

	<!-- Content -->
	<div id="register" role="main">
		<!-- Register section -->
		<h2 id="registerheading" class="accessibility">@Messages.get("reg.register")</h2>
		@helper.form(action = routes.Application.registration()) {
		<fieldset>
			<legend>@Messages.get("persData")</legend>

			<!-- FIXME @if(form.hasGlobalErrors) {
			<div role="alert">@form.globalError.message</div>
			}  -->

			@helper.inputText(form("firstname"), 
				'_label -> Messages.get("persData.firstName"))
			@helper.inputText(form("lastname"),
				'_label -> Messages.get("persData.lastName")) 
			@helper.inputText(form("birthdate"),
				'_label -> Messages.get("persData.Birthdate"))
			<!-- ERROR DATUM -->
			@helper.select(field = form("gender"), 
				args = '_label -> Messages.get("persData.sex"), 
				options = Seq("male"-> Messages.get("persData.sex.male"),
					"female"-> Messages.get("persData.sex.female")))

		</fieldset>
		<fieldset>
			<legend>@Messages.get("playData")</legend>
			<!--  FIXME Avatare aus Enum laden -->
			<label for="avatar">@Messages.get("persdata.avatar")</label>
            <select id="avatar" name="avatar">
                <!-- <option value="aldrich-killian">Aldrich Killian</option>
                <option value="beetle">Beetle</option>
				<option value="black-widow">Black Widow</option>
				<option value="captain-america">Captain America</option>
				<option value="cyclops">Cyclops</option>
				<option value="deadpool">Deadpool</option>
				<option value="doctor-doom">Doctor Doom</option>
				<option value="doctor-octopus">Doctor Octopus</option>
				<option value="drax">Drax</option>
				<option value="electro">Electro</option>
				<option value="extremis-soldier">Extremis Soldier</option>
				<option value="falcon">Falcon</option>
				<option value="gamora">Gamora</option>
				<option value="green-goblin">Green Goblin</option>
				<option value="groot">Groot</option>
				<option value="hawkeye">Hawkeye</option>
				<option value="hulk">Hulk</option>
				<option value="hydra-henchman">Hydra Henchman</option>
				<option value="iron-fist">Iron Fist</option>
				<option value="iron-man">Iron Man</option>
				<option value="j-jonah-jameson">J. Jonah Jameson</option>
				<option value="loki">Loki</option>
				<option value="magneto">Magneto</option>
				<option value="mary-jane-watson">Mary Jane Watson</option>
				<option value="modok">MODOK</option>
				<option value="nebula">Nebula</option>
				<option value="nick-fury">Nick Fury</option>
				<option value="nova">Nova</option>
				<option value="pepper-potts">Pepper Potts</option>
				<option value="power-man">Power Man</option>
				<option value="red-skull">Red Skull</option>
				<option value="rocket">Rocket Raccoon</option>
				<option value="ronan">Ronan</option>
				<option value="spiderman">Spiderman</option>
				<option value="starlord">Starlord</option>
				<option value="taskmaster">Taskmaster</option>
				<option value="the-mandarin">The Mandarin</option>
				<option value="thor">Thor</option>
				<option value="tony-stark">Tony Stark</option>
				<option value="venom">Venom</option>
				<option value="war-machine">War Machine</option>
				<option value="wolverine">Wolverine</option> -->
            </select>
			@helper.inputText(form("name"), '_label ->
				Messages.get("playData.name") , '_showConstraints -> false)
			<!--ERROR USERNAME -->
			@helper.inputPassword(form("password"), '_label ->
				Messages.get("playData.password") , '_showConstraints -> false)
			<!-- ERROR PASSWORD-->
			<input class="greenlink formlink" type="submit"
				value='@Messages.get("playData.submit")' accesskey="s" />
			<p id="requiredhint">@Messages.get("playData.required")</p>
		</fieldset>
		}
	</div>

	<!-- Footer -->
	<footer role="contentinfo">© 2015 BIG Jeopardy</footer>

</body>
</html>
