@(form: Form[model.User])
@import at.ac.tuwien.big.we15.lab2.api.Avatar
@import play.i18n.Messages

@main(false, Messages.get("reg.title"), "register-page") {

	<a title='@Messages.get("reg.jumpToAuth")' class="accessibility"
		href="#register">@Messages.get("reg.jumpToAuth")</a>

	<!-- Content -->
	<div id="register" role="main">
		<!-- Register section -->
		<h2 id="registerheading" class="accessibility">@Messages.get("reg.register")</h2>
		
		@helper.form(action = routes.Application.registration()) {
		
		<fieldset>
			<legend>@Messages.get("persData")</legend>

			@helper.inputText(form("firstname"), 
				'_label -> Messages.get("persData.firstName"))
			@helper.inputText(form("lastname"),
				'_label -> Messages.get("persData.lastName")) 
			@helper.inputText(form("birthdate"),
				'_label -> Messages.get("persData.Birthdate"))
			@helper.select(field = form("gender"), 
				args = '_label -> Messages.get("persData.sex"), 
				options = Seq("male"-> Messages.get("persData.sex.male"),
					"female"-> Messages.get("persData.sex.female")))

		</fieldset>
		<fieldset>
			<legend>@Messages.get("playData")</legend>
			
			<label for="avatarid">@Messages.get("persdata.avatar")</label>
			<select id="avatarid" name="avatarid">
				@for(a <- Avatar.values()) {
					<option value="@a.getId">@a.getName</option>
				}
            </select>
			@helper.inputText(form("name"), '_label ->
				Messages.get("playData.name") , '_showConstraints -> false)
			@helper.inputPassword(form("password"), '_label ->
				Messages.get("playData.password") , '_showConstraints -> false)
				
			<input class="greenlink formlink" type="submit"
				value='@Messages.get("playData.submit")' accesskey="s" />
			<p id="requiredhint">@Messages.get("playData.required")</p>
			
		</fieldset>
		}
	</div>
}
