@(game: JeopardyGame)
@import at.ac.tuwien.big.we15.lab2.api.JeopardyGame
@import play.i18n.Messages

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Messages.get("winner.winnerDisplay")</title>
<link rel="stylesheet" type="text/css"
	href='@routes.Assets.at("stylesheets/base.css")' />
<link rel="stylesheet" type="text/css"
	href='@routes.Assets.at("stylesheets/screen.css")' />
</head>
<body id="winner-page">
	<a class="accessibility" href="#winner">@Messages.get("winner.jumpToWinner")</a>
	<!-- Header -->
	<header role="banner" aria-labelledby="bannerheading">
		<h1 id="bannerheading">
			<span class="accessibility">Business Informatics Group </span><span
				class="gametitle">Jeopardy!</span>
		</h1>
	</header>

	<!-- Navigation -->
	<nav role="navigation" aria-labelledby="navheading">
		<h2 id="navheading" class="accessibility">Navigation</h2>
		<ul>
			<li><a class="orangelink navigationlink" id="logoutlink"
				title='@Messages.get("general.clickLogout")' href="@routes.Application.authenticate"
				accesskey="l">@Messages.get("general.logout")</a></li>
		</ul>
	</nav>

	<!-- Content -->
	<div role="main">
		<section id="gameinfo" aria-labelledby="winnerinfoheading">
			<h2 id="winnerinfoheading" class="accessibility">@Messages.get("winner.winnerInfo")</h2>

			<!-- FIXME Messages, alttags etc ändern-->
			@if(game.getHumanPlayer.getLatestProfitChange != null) {
				@if(game.getHumanPlayer.getLatestProfitChange != null && game.getHumanPlayer.getLatestProfitChange < 0) {
					<p class="user-info negative-change">
						Du hast falsch geantwortet: @game.getHumanPlayer.getLatestProfitChange €</p>
				} else {
					<p class="user-info positive-change">Du hast richtig geantwortet: @game.getHumanPlayer.getLatestProfitChange €</p>
				}
			}

			@if(game.getMarvinPlayer.getLatestProfitChange != null) {
				@if(game.getMarvinPlayer.getLatestProfitChange != null && game.getMarvinPlayer.getLatestProfitChange < 0) {
					<p class="user-info negative-change"> @game.getMarvinPlayer.getUser.getName
						hat falsch geantwortet: @game.getMarvinPlayer.getLatestProfitChange €</p>
				} else {
					<p class="user-info positive-change"> @game.getMarvinPlayer.getUser.getName
						hat richtig geantwortet: @game.getMarvinPlayer.getLatestProfitChange €</p>
				}
			}

			@if(game.getMarvinPlayer.getChosenQuestion != null) {
				<p class="user-info">@game.getMarvinPlayer.getUser.getName hat @game.getMarvinPlayer.getChosenQuestion.getCategory.getName für € @game.getMarvinPlayer.getChosenQuestion.getValue gewählt.</p>
			}
			<section class="playerinfo leader"
				aria-labelledby="winnerannouncement">
				<h3 id="winnerannouncement">Gewinner: @game.getWinner.getUser.getName </h3>
				<img class="avatar" src=@routes.Assets.at("images/avatar/"+game.getWinner.getUser.getAvatar.getImageFull)
					alt=@game.getWinner.getUser.getName />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername">@game.getWinner.getUser.getName</td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints">€ @game.getWinner.getProfit </td>
					</tr>
				</table>
			</section>
			<section class="playerinfo" aria-labelledby="loserheading">
				<h3 id="loserheading" class="accessibility">Verlierer: @game.getLoser.getUser.getName</h3>
				<img class="avatar" src=@routes.Assets.at("images/avatar/"+game.getLoser.getUser.getAvatar.getImageFull)
					alt=@game.getLoser.getUser.getName />
				<table>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerName")</th>
						<td class="playername">@game.getLoser.getUser.getName </td>
					</tr>
					<tr>
						<th class="accessibility">@Messages.get("winner.playerPoints")</th>
						<td class="playerpoints">€ @game.getLoser.getProfit </td>
					</tr>
				</table>
			</section>
		</section>
		<section id="newgame" aria-labelledby="newgameheading">
			<h2 id="newgameheading" class="accessibility">@Messages.get("winner.newGame")</h2>
			@helper.form(action = routes.Application.startNewGame()) {
				<input class="clickable orangelink contentlink" id="new_game"
				type="submit" name="restart"
				value='@Messages.get("winner.newGame")' />
			}

		</section>
	</div>
	<!-- footer -->
	<footer role="contentinfo">© 2015 BIG Jeopardy</footer>
</body>
</html>